
<section ng-controller="TagJobController">
    <div>
        <h1>{{ jobData.job.Description }}</h1>
        <h6>Id: {{jobData.job.Id}}, Created {{jobData.job.CreateDate | date:'dd-MM-yyyy'}}</h6>

        <p>
           Download a video and use the <a href="https://github.com/CatalystCode/VoTT">annotation tool</a>
            to generate a Json tags file, which you may subsequently submit.
        </p>

        <div class="col-xs-10">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-download"></span></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <B><a href ng-click="downloadVideo()">Download Video</a></B>
                    </td>
                    <td>
                        <B><a href ng-click="downloadJson()">Download TagsJson</a></B>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="col-xs-10">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-upload"></span></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <form id="uploadTagsForm" class="form-horizontal" role="form" ng-submit="submitTags()">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputFile">TagsJson</label>
                                <div class="col-sm-5">
                                    <input class="filestyle" id="inputFile" name="inputFile" type="file" accept=".json">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-clear">upload</button>
                                    <span ng-hide="!progress">{{ progress }}%</span>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>


        <p>{{ theJsonText }}</p>

        <!-- TODO: Clean this up; provide form for manual json upload -->
        <div class="buttons btn-group" role="group" style="margin-top: 2em;">
            <button ng-hide="!user" ng-click="updateJobStatus('Pending')" type="button" class="btn btn-clear">send for review</button>
            <button ng-hide="!user || user.RoleName !== 'Admin'" ng-click="updateJobStatus('Approved')" type="button" class="btn btn-clear">approve</button>
        </div>

        <div class="row">
            <div class="alert alert-danger-clear" role="alert" ng-hide="!error">{{error}}</div>
        </div>

        <div class="row">
            <div class="alert alert-success-clear" role="alert" ng-hide="!info">{{info}}</div>
        </div>

    </div>

</section>
